@logo: url("/assets/images/logo.png") no-repeat;

.header-link {
  display: inline-block;
  height: 50px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  padding: 10px 128px;
  background: @logo;

  span {
    line-height: 71px;
    margin-left: 99px;
  }

  last-link {
    padding-left: 9px;
  }

}

.header {
  ul {
    margin: 5px 0;
  }
  li {
    display: inline;
  }
}
